html,
body {
  height: 100%;
}
html .card,
html table,
body .card,
body table {
  height: 100%;
}

html.mobile,
body.mobile {
  height: 100%;
}
html.mobile .card,
html.mobile table,
body.mobile .card,
body.mobile table {
  height: 100%;
}

.back-ground {
  min-height: calc(100vh - 56px);
  padding: 20px;
  background-color: #333;
  align-items: center;
}
.back-ground .card-body {
  padding: 20px;
  min-height: calc(100vh - 96px);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #424242;
}
.back-ground .card-body .title {
  text-align: center;
  color: #fff;
  padding-bottom: 12px;
  font-size: 18px;
}
.back-ground .card-body .text, .back-ground .card-body .ans {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}
.back-ground .card-body .text {
  text-align: center;
}

.card,
table {
  height: 100%;
}
